{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">Panel de Administración</h1>
    
    <h2 class="my-4">Lista de Vehículos</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.price|floatformat:2 }}</td>
                <td>{{ vehicle.description }}</td>
                <td><img src="{{ vehicle.image.url }}" alt="{{ vehicle.model }}" class="img-thumbnail" style="width: 150px; height: auto;"></td>
                <td>
                    <a href="{% url 'edit_vehicle' vehicle.id %}" class="btn btn-warning btn-sm mb-2">Editar</a>
                    <a href="{% url 'delete_vehicle' vehicle.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2 class="my-4">Lista de Empleados</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Posición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.position }}</td>
                <td>
                    <a href="{% url 'edit_employee' employee.id %}" class="btn btn-warning btn-sm mb-2">Editar</a>
                    <a href="{% url 'delete_employee' employee.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
